annotated-types==0.6.0
autocommand==2.2.2
certifi==2024.2.2
charset-normalizer==3.3.2
cheroot==10.0.0
CherryPy==18.9.0
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
idna==3.7
inflect==7.0.0
jaraco.collections==5.0.0
jaraco.context==4.3.0
jaraco.functools==4.0.0
jaraco.text==3.12.0
kiwisolver==1.4.5
matplotlib==3.8.4
more-itertools==10.2.0
numpy==1.26.4
packaging==24.0
paho-mqtt==1.6.1
pillow==10.3.0
portend==3.2.0
pydantic==2.6.4
pydantic_core==2.16.3
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
scipy==1.13.0
setuptools==69.2.0
six==1.16.0
tempora==5.5.1
typing_extensions==4.10.0
urllib3==2.2.1
zc.lockfile==3.0.post1